@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:ital,wght@1,500&display=swap");

body {
  background-image: url("images/backgroundimg.jpg");
  background-repeat: no-repeat;
  font-family: "Kanit", sans-serif;
}
h1 {
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
}

.banner {
  background-image: url("images/pxfuel\ \(1\).jpg");
  background-position: center;
  text-align: center;
  width: 100%;
  padding: 20% 0 20% 0;
  color: white;
  display: table;
}
.banner .banner-text {
  display: table-cell;
  vertical-align: middle;
  padding: 100px;
}
/* Nav Bar Starts */

.navbar {
  background-color: rgb(136, 136, 255) !important;
}

.container-fluid a {
  color: white !important;
  text-decoration: none;
  position: relative;
}

.container-fluid li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orangered;
  transition: width 0.3s ease;
}

.container-fluid a:hover::after {
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-brand img {
  width: 80px;
  height: auto;
}

.navbar-nav .nav-link {
  padding: 0;
}

/* Nav Bar Ends */

.para1 {
  margin: 50px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px black;
}

.para1 a {
  text-decoration: none;
  color: black;
}

.para1 a span {
  color: orangered;
}

.para1 h1 {
  font-family: "Lexend Peta", sans-serif;
}

.para1 p {
  width: 100%;
  line-height: 2em;
}

/* ABOUT ME */

.aboutme {
  text-align: center;
  margin: 60px;
  line-height: 2em;
}

.aboutme h1 {
  font-family: "Lexend Peta", sans-serif;
  font-size: calc(1.375rem + 1.5vw);
  padding: 30px;
}

/* Linkedin */

.linkedin a {
  text-decoration: none;
}

.linkedinimg button {
  background-color: #0a66c2;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  box-shadow: 5px 5px 5px black;
}

.linkedinimg button:hover {
  background-color: #0a66c2;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

.linkedinimg img {
  width: 20px;
  height: auto;
}

.blackboard img {
  width: 100%;
  margin: 0;
  height: auto;
}

.edu {
  padding: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: url(images/blackboard.jpg);
  background-size: cover;
}

.education {
  display: flex;
  padding-top: 40px;
}

.education p {
  margin: 40px;
}

/* SKILLS  */

.skills h1 {
  text-align: center;
  padding-top: 30px;
}

.row img {
  height: 150px;
  padding: 40px;
}

.row p {
  font-weight: bold;
}

/* CONTACT */

.footer {
  text-align: center;
  line-height: 2em;
  padding: 50px;
  background-color: black;
  color: white;
}

.footer img {
  width: 200px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a {
  text-decoration: none;
  position: relative;
  color: white;
}

.footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orangered;
  transition: width 0.3s ease;
}

.footer a:hover::after {
  width: 100%;
}

iframe {
  width: 100%;
}

/* PADDING */
.aboutme{
  padding-top: 100px;
}

.blackboard {
  padding-top: 100px;
}

.skill{
  padding-top: 60px;
}

.tool{
  padding-top: 80px;
}

.last{
  padding-top: 100px;
}

.resume{
  padding-top: 100px;
}

.resume button{
  border-radius: 5px;
  color: white;
  background-color: #0000ff;
  box-shadow: 2px 2px 2px white;
}

.resume button {
  text-decoration: none !important;
}

.resume button:hover {
  background-color: #0000ff;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}